/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Universal-Style  */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common-Styles  */

body{
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 80%;
  margin: 0 auto;
}
h1{
  font-size: 60px;
  line-height: 70px;
  color: #fff;
}
a{
  text-decoration: none;
}
hr{
  border: 1px solid #ddd;
  margin: 20px 0;
}
#active{
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}
#active a{
  color: #fff;
}
/* Hero-Section  */

.Hero-Section{
  background-color: #4A235A;
  color: #fff;
  margin-top: 50px;
  border-radius: 20px;
}
.hero-contents{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.hero-content{
  padding: 0px 20px 0px 100px;
} 
.hero-content p{
  font-size: 14px;
  margin: 20px 0;
}
.hero-content .btn{
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.8s;
}
.hero-content .btn:hover{
  border: 1px solid #fff;
  background-color: #000;
  color: #000;
}
.hero-content .btn a{
  color: #000;
  display: inline-block;
  padding: 15px 25px;
}
.hero-content .btn a:hover{
  color: #fff;
  transition: 0.8s;
}
.hero-content .btn a i{
  margin-left: 10px;
}
.hero-content .btn:hover i{
  transform: translate(10px);
  transition: 0.5s;
}
.hero-img{
  padding: 20px 70px 0 20px;
}
.hero-img img{
  width: 100%;
  display: block;
}

/* Blog-Section  */
.blog-section{
  margin-top: 50px;
  margin-bottom: 50px;
}
.blog-contents{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.anchor{
  grid-column: 1;
  background-color: #4A235A;
  height: 250px;
  padding: 30px 20px;
  border-radius: 10px;
}
aside{
  display: flex;
  flex-direction: column;
}
aside button{
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  transition: 0.8s;
}
aside button:hover{
  background-color: #000;
  border: 1px solid #fff;
}
aside button a{
  padding: 15px 20px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: 0.8s;
}
aside button a:hover{
  color: #fff;
}
.blog{
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
article{
  border: 1px solid #ddd;
  border-radius: 10px;
}
.blog-img img{
  width: 100%;
}
.blog-details{
  padding: 15px;
}
.author a{
  border: 1px solid #666;
  padding: 5px 20px;
  display: block;
  width: 90px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  transition: 0.8s;
}
.author a:hover{
  background-color: #000;
  color: #fff;
}
.blog-title h4{
  font-weight: 600;
  font-size: 15px;
  margin: 20px 0;
}
.blog-info{
  display: flex;
  color: #666;
}
.clock{
  width: 50%;
}
.message{
  width: 50%;
}
.blog-info i{
  margin-right: 10px;
}
.blog-button{
  text-align: center;
  margin-top: 50px;
  display: none; 
}
.blog-button button{
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  transition: 0.8s;
}
.blog-button button:hover{
  background-color: #000;
  border: 1px solid #fff;
}
.blog-button button a{
  padding: 15px 40px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: 0.8s;
}
.blog-button button a:hover{
  color: #fff;
}
/* Match Section  */
.match{
  padding: 30px 10px;
}
.match-vs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.match-vs h4{
  margin: 0 10px;
}
.match-info{
  text-align: center;
}
.match-info p{
  font-size: 14px;
  color: #666;
  padding: 5px 0;
}
/* Group Styles  */
.group{
  padding: 20px;
}
.group-name h2{
  text-transform: uppercase;
  text-align: center;
}
.team{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.team-name{
  width: 50%;
}
.team-icon{
  width: 50%;
}

.team-icon img{
  width: 30%;
}
/* Footer-Section  */
.footer-section{
  background-color: #4A235A;
}
.footer-section .section-tittle h2{
  margin-bottom: 30px;
  font-size: 35px;
}
.footer-section hr{
  border:1px solid #666;
  margin-bottom: 30px;
}
.footer-content{
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-nav ul li{
  list-style: none;
  margin-right: 30px;
}
.footer-nav ul li a{
  color: #999;
}
.footer-social{
  margin: 30px 0;
}
.social-icon a{
  color: #4A235A;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.8s;
}
.social-icon a:hover{
  background-color: #000;
  color: #fff;
}