/* Responsive-Styles  */

/* Small-Devices */

@media only screen and (max-width: 576px) {
  h1{
    font-size: 30px;
    line-height: 40px;
  }
  .container{
    width: 95%;
  }
  .hero-contents{
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-content{
    text-align: center;
    padding: 40px 20px;
  }
  .hero-content p{
    width: 200px;
    overflow: hidden;
    margin: 20px auto;
  }
  .short{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hero-img{
    padding: 0 20px;
  }
  .anchor{
    grid-column: 1 / -1;
    margin-bottom: 30px;
  }
  .blog{
    grid-column: 1 / -1;
    grid-template-columns: repeat(1, 1fr);
  }
  
  article{
    width: 100%;
  }
 
  .footer-nav ul{
    flex-direction: column;
  }
  .footer-nav ul li{
    margin-right: 0px;
  }
  .tab{
    display: none;
  }
  .blog-button{
    display: block; 
  }
}
  /* Medium Device*/

@media only screen and (min-width: 577px) and (max-width:767px){
  h1{
    font-size: 20px;
    line-height: 30px;
  }
  .container{
    width: 95%;
  }
  .hero-content{
    text-align: center;
    padding: 40px 20px;
  }
  .hero-content p{
    width: 200px;
    overflow: hidden;
    margin: 20px auto;
  }
  .short{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hero-img{
    padding: 20px 40px 0 0;
  }
  .anchor{
    grid-column: 1 / -1;
    height: 90px;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  aside button{
    width: 30%;
    align-items: center;
  }
  aside .gap{
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .blog{
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
  }
  .tab{
    display: none;
  }
  .blog-button{
    display: block; 
  }
}
/* Large Devices  */
@media only screen and (min-width: 768px) and (max-width:992px){
  h1{
    font-size: 30px;
    line-height: 40px;
  }
  .container{
    width: 95%;
  }
  .hero-content{
    text-align: center;
    padding: 40px 20px;
  }
  .hero-img{
    padding: 20px 40px 0 0;
  }
  .anchor{
    grid-column: 1 / -1;
    height: 90px;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  aside button{
    width: 30%;
    align-items: center;
  }
  aside .gap{
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .blog{
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
  }
  .tab{
    display: none;
  }
  .blog-button{
    display: block; 
  }
}

  /* Desktop - Extra Large Screen*/

  @media only screen and (min-width: 993px) and (max-width:1200px){
    h1{
      font-size: 35px;
      line-height: 40px;
    }

    .anchor{
      grid-column: 1 / -1;
      height: 90px;
      padding: 20px 0;
      margin-bottom: 30px;
    }
    aside {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    aside button{
      width: 30%;
      align-items: center;
    }
    aside .gap{
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .blog{
      grid-column: 1 / -1;
      grid-template-columns: repeat(2, 1fr);
    }
   
  }